{% assign experiences = site.data.data.experiences %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
  <span data-lang="en">Experiences</span>
  <span data-lang="pt">Experiências</span>
  </h2>

  {% for experience in experiences %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">
          <span data-lang="en">{{ experience.role-en }}</span>
          <span data-lang="pt">{{ experience.role-pt }}</span>
        </h3>
        <div class="time">
          <span data-lang="en">{{ experience.time-en }}</span>
          <span data-lang="pt">{{ experience.time-pt }}</span>
        </div>
      </div><!--//upper-row-->
      <div class="company">{{ experience.company }}</div>
    </div><!--//meta-->
  
    {% if experience.details-en %}
    <div class="details" data-lang="en">
      {{ experience.details-en | markdownify }}
    </div>
    <div class="details" data-lang="pt">
      {{ experience.details-pt | markdownify }}
    </div>
    {% endif %}
  
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

