{% assign languages = site.data.data.sidebar.languages %}
{% if languages %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
  <span data-lang="en">Languages</span>
  <span data-lang="pt">Línguas</span>
  </h2>

  <ul class="list-unstyled interests-list">
    {%for language in languages %}
    <li>
      <span data-lang="en">{{ language.idiom-en }}</span>
      <span data-lang="pt">{{ language.idiom-pt }}</span>
      <span class="lang-desc">
      (<span data-lang="en">{{ language.level-en }}</span><span data-lang="pt">{{ language.level-pt }}</span>)
    </span>
    </li>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
